.mainCont{
    display: flex;
    justify-content: space-evenly;
}
.socialIcon{
    display: flex;
    gap: 20px;
}
.mainCont > div{
    gap: 45px;
    display: flex;
    flex-direction: column;
}
.mainCont p{
    font-size: 18px;
    font-weight: normal;
}
@media (max-width: 768px) {
    .mainCont {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .mainCont > div {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .socialIcon {
        justify-content: center;
    }
}